.project__details{
    padding: 2em;
}
.project__details h1,
.project__details h2,
.project__details p{
    margin-bottom: .5em;
}

.project__details h1{
    background-color:#222;
    color:#ffbb33;
    padding:.4em;
}
.project__details span{
    font-weight: bold;
}
.details__container,
.service__form_container{
    border-bottom:1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.btn{
    background-color:#222;
    color:#fff;
    padding: .5em 1em;
    text-decoration: none;
    cursor: pointer;
    transition:.5s ease;
    max-height: 40px;
}
.btn:hover{
    color:#ffbb33;
}
.project__info{
    width: 100%;
}